@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar: var(--sidebar);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.541 0.281 293.009);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(58.6% 0.253 17.585);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.702 0.183 293.541);
  --sidebar: oklch(0.985 0 0);
  --content-color: oklch(55.4% 0.042 264 / 0.08);
  --header-color: oklch(55.4% 0.042 264 / 0.08);
  --sidebar-color: oklch(99.385% 0.00297 264.8);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.175 0.042 264.55);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.606 0.25 292.717);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(63.7% 0.237 25.331);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.38 0.189 293.745);
  --sidebar: oklch(0.21 0.006 285.885);
  --content-color: oklch(0.13 0.04 265);
  --header-color: oklch(17.8% 0.031 264);
  --sidebar-color: oklch(7.4% 0.02 264);
}

.theme-violet {
  --primary: oklch(0.541 0.281 293.009);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --ring: oklch(0.702 0.183 293.541);
}

.theme-rose {
  --primary: oklch(0.69 0.25 22);
  --primary-foreground: oklch(0.985 0 0);
  --ring: oklch(0.69 0.25 22);
}

.theme-indigo {
  --primary: oklch(0.45 0.24 270);
  --primary-foreground: oklch(0.985 0 0);
  --ring: oklch(0.45 0.24 270);
}

.theme-yellow {
  --primary: oklch(82.8% 0.189 84.429);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --ring: oklch(82.8% 0.189 84.429);
}

.theme-green {
  --primary: oklch(59.6% 0.145 163.225);
  --primary-foreground: oklch(0.985 0 0);
  --ring: oklch(59.6% 0.145 163.225);
}

/* --- Layout --- */

.sidebar {
  @apply bg-[var(--sidebar-color)] dark:bg-[var(--sidebar-color)];
}

.container {
  @apply p-2.5 md:p-4 lg:p-4 bg-[var(--content-color)] dark:bg-[var(--content-color)];
}

.header {
  @apply bg-[var(--header-color)] dark:bg-[var(--header-color)];
}

.card {
  @apply duration-100 ease-in-out transition-all rounded-lg border border-slate-200/50 dark:border-slate-700/50 bg-slate-300/20 dark:bg-slate-900/80 hover:border-slate-600/10 dark:hover:border-slate-600/50;
}

.item {
  @apply duration-150 ease-in-out transition-all rounded-md border border-slate-200/50 dark:border-slate-700/50 bg-white/15 dark:bg-slate-950/40 hover:border-slate-500/30 dark:hover:border-slate-600 hover:bg-white/5 dark:hover:bg-gray-950/50;
}

.input {
  @apply duration-150 ease-in-out transition-all rounded-md border border-slate-200/50 dark:border-slate-700/50 bg-white/20 dark:bg-slate-900/35 hover:border-slate-500/30 dark:hover:border-slate-600 placeholder:text-gray-500 dark:placeholder:text-gray-400 font-normal data-[placeholder]:text-gray-500 dark:data-[placeholder]:text-gray-400 hover:bg-white/5 dark:hover:bg-gray-800 focus:bg-white/25 dark:focus:bg-gray-800 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-500/20 dark:focus-visible:ring-blue-400/20 disabled:cursor-not-allowed disabled:opacity-50 disabled:bg-gray-50 dark:disabled:bg-gray-900;
}

.title {
  @apply text-2xl font-bold text-primary;
}

.subtitle {
  @apply text-lg font-semibold text-secondary-foreground;
}

.paragraph {
  @apply text-xs font-medium text-secondary-foreground/80;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    @apply border-border outline-ring/50;
    -ms-overflow-style: none;
    scrollbar-width: none;

    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }

  body {
    @apply bg-background text-foreground;
    -webkit-tap-highlight-color: transparent;
  }
}